*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    overflow: hidden;
}

canvas {
    image-rendering: pixelated;
}

.experience
{
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.count {
    display: flex;
    flex-direction: row;
    gap: 16px;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    z-index: 1;
}